@font-face {
  font-family: "ethnocentricregular";
  src: url("../font/ethnocentric_rg-webfont.woff2") format("woff2"), url("../font/ethnocentric_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("../font/lato-regular-webfont.woff2") format("woff2"), url("../font/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/images/Magor-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  font-family: "ethnocentricregular";
}

.menu-burger{
  display: none;
  width: 35px;
  position: absolute;
  top: 15px;
  right: 30px;
}



/* ===== header  =====*/
header {
  width: 96%;
  display: flex;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 15px;
  margin-left: 24px;
}

.planete {
  width: 15%;
  padding-left: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
}
.img-planete {
  width: 100px;
}

.img-planete:active {
  width: 95px;
}

.title {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-title {
  width: 700px;
}

.logout {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img-logout {
  width: 100px;
}
.img-logout:hover {
  width: 110px;
}
.img-logout:active {
  width: 100px;
}



/* ==== corps =====*/

.full-groupe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: black;
  height: 100%;
  z-index: 2;
  line-height: 0;
}

.groupe1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
}
.forg-planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}
.img-forge {
  width: 120px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}
.img-nav {
  width: 170px;
}
.btn-navx {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.groupe-nav-info {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.player-stat {
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 15px;
  width: 29%;
}
.wam-planete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.picture-planete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  /* margin-top: -7px;
  margin-left: 20px; */
}
.name {
  color: brown;
  font-size: 26px;
}
.name2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: initial;
  font-family: "Times New Roman", Times, serif;
}
.name3 {
  color: brown;
  font-size: 26px;
}
.image-wam {
  width: 170px;
  border-radius: 80px;
}
.stat-wam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.numbers-stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.image-stat {
  width: 60px;
}
.active-stat {
  width: 30%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placement-stat {
  padding-left: 10px;
  font-size: 18px;
}
.point-stat {
  line-height: 1;
  color: white;
  font-size: 13px;
}
.total-point {
  color: rgb(255, 174, 0);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.player-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 15px;
  width: 66%;
  padding: 20px;
  margin-left: 25px;
}

.navigation-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.img-nav-player {
  width: 200px;
}
.liste-info-player {
  width: 96%;
  height: 87%;
  background-color: rgba(240, 237, 237, 0.329);
  border-radius: 15px;
  padding: 20px;
}

.groupe2 {
  width: 20%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.groupe2-x{

  width: 20%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.wave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 18px;
}
.wave-txt {
  color: brown;
  font-size: 25px;
}
.wave-time {
  color: white;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.wave-monster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.monster-txt {
  color: white;
  font-size: 25px;
}

.img-monster {
  width: 150px;
  object-fit: cover;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.feed-title {
  color: brown;
  font-size: 25px;
}

.feed-text {
  background-color: rgba(0, 0, 0, 0.493);
  font-family: 'latoregular';
  color: white;
  width: 90%;
  height: 228px;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
  line-height: 1;
}

.img-event {
  margin-top: 15px;
  width: 90%;
  height: 120px;
  border-radius: 15px;
}

/* ==== OUTPOST ====*/

.block-x {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.attack-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  border:1px solid red;
  border-radius: 7px;
  padding-bottom: 10px;
  height: 97%;
  width: 40vh;
}
.title1 {
  font-size: 26px;
}
.time-atk {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.img-atk {
  display: flex;
  justify-content: center;
  width: 333px;
}

.description-crea {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38%;
}
.title-crea {
  font-size: 20px;
  margin-top: 20px;
}

.txt-crea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'latoregular';
  background-color: rgba(0, 0, 0, 0.623);
  width: 90%;
  height: 250px;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  scrollbar-color: black white;
  scrollbar-width: thin;
  line-height: 1;
}
.btn-more{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100px;

}

.warlord{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;
  
}
.filter{
  display: flex;
  width: 200px;
  border-radius: 5px;
}

.attack-require {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 14px;
}
.target-atk-total {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.target-atk {
  display: flex;
  align-items: center;
    font-size: 17px;
  font-family:"latoregular";
  font-weight: bold;
  height: 18px;
  background-color: rgb(207, 30, 30);
  padding: 5px;
  border-radius: 5px;
}
.number-atk {
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}
.score-atk {
  display: flex;
  align-items: center;
    font-size: 17px;
  font-family:"latoregular";
  font-weight: bold;
  height: 18px;
  background-color: rgb(241, 110, 110);
  padding: 5px;
  border-radius: 5px;
}
.score-atk-total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number-score-atk {
  margin-left: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}

.btn-atk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-btn-atk {
  width: 200px;
}

.defence-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
border:1px solid blue;
border-radius: 7px;
padding-bottom: 10px;
  height: 97%;
  width: 40vh;
}

.time-defense {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.img-def {
  display: flex;
  justify-content: center;
  width: 333px;
}

.defense-require {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 14px;
}

.target-def-total {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.target-def {
  display: flex;
  align-items: center;
    font-size: 17px;
  font-family:"latoregular";
  font-weight: bold;
  height: 18px;
  background-color: rgb(207, 30, 30);
  padding: 5px;
  border-radius: 5px;
}
.number-def {
  margin-left: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}
.score-def {
  display: flex;
  align-items: center;
    font-size: 17px;
  font-family:"latoregular";
  font-weight: bold;
  height: 18px;
  background-color: rgb(241, 110, 110);
  padding: 5px;
  border-radius: 5px;
}
.score-def-total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number-score-def {
  margin-left: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}
.next-atk{
  margin-top: 20px;
}

/* ==== creature ====*/

.all-cadre{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
  
}
.img-nav-creature{
  width: 200px;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (max-width: 1572px) {
  .planete {
    width: 17%;
  }
  .groupe1 {
    width: 76% !important ;
  }

  .player-stat {
    width: 27% !important;
  }
  .numbers-stat {
    width: 87% !important;
    justify-content: center;
  }
  .wam {
    width: 113px;
  }
  .image-wam {
    width: 110px !important;
  }
  .name,
  .name3 {
    font-size: 18px !important;
  }
  .name2 {
    font-size: 15px !important;
  }
  .image-stat {
    width: 37px !important;
  }
  .active-stat {
    width: 25% !important;
  }
  .point-stat,
  .total-point {
    font-size: 11px !important;
  }
  .total-point {
    font-size: 11px;
  }
  .img-nav-player,
  .img-nav {
    width: 128px !important;
  }
  .groupe-nav-info{
    height: 100% !important;
  }
  .groupe2 {
    width: 17% !important;
    margin-top: 0 !important;
    
    
  }
  .wave-txt,
  .feed-title {
    font-size: 20px !important;
  }
  .wave-time {
    font-size: 9px !important;
  }
  .monster-txt {
    font-size: 14px !important;
  }
  .feed-text {
    font-size: 14px !important;
    
  }
  .defence-m{
    margin-left: 10px;
  }

  .img-nav-creature{
    width: 178px;
  }
}

@media (min-width: 1236px) and (max-width: 1345px){
  .img-nav {
    width: 118px !important;
  }
  .img-nav-player{
    width: 140px !important;
  }
  .image-wam{
    width: 90px !important;
  }
  .name, .name3 {
    font-size: 16px !important;
  }
  .attack-m, .defence-m{
    width: 35vh !important;
  }
  .title1 {
    font-size: 23px;
  }
  .img-atk, .img-def{
    width: 282px;
  }
  .title-crea {
    font-size: 11px;
}
.txt-warlord{
  margin-top: 25px !important;
}
.img-btn-atk, .img-btn-def{
  margin-top: 20px;
}
.next-atk{
  margin-top: 26px !important;
}
.liste-info-player{
  width: 94% !important;
}
.all-cadre{
  padding-left: 20px;
}

.groupe2{
  margin-top: -189px !important;
}
}

@media screen and (max-width: 1235px) {

  .img-planete{
    width: 79px;
  }
  .groupe2{
    padding-left: 10px;
    .groupe2{
  margin-top: -189px !important;
}
  }
  .img-title{
    width: 605px;
  }
  .img-nav{
    width: 105px !important;
  }
  .image-wam{
    width: 80px !important;
  }
 .name, .name3, .name2{
  font-size: 13px !important;
 }
 .forg-planet{
  margin-left: 0px !important;
 }
.liste-info-player{
  width: 93%;
}
.attack-m, .defence-m{
  width: 28vh;
}
.title1{
  font-size: 20px;
}
.img-atk, .img-def{
  width: 232px;
}
.title-crea{
  font-size: 14px;
}

.target-atk, .target-def, .score-atk, .score-def{
  font-size: 17px;
  font-family:"latoregular";
  font-weight: bold;
}
.txt-warlord{
  font-size: 12px;
  margin-top: 20px;
}

.img-btn-atk{
  margin-top:20px;
}
.all-cadre{
  padding-left: 32px;
}
.img-nav-creature{
  width: 142px;
}


}

@media (min-width: 390px) and (max-width: 1075px){

header{
  width: 100% !important;
  flex-direction: column-reverse !important;
  align-items: center !important;
  margin-left: 0px;
  box-sizing: border-box !important;
}

.menu-burger{
  display: block;
  width: 35px;
  position: absolute;
  top: 15px;
  right: 30px;
}
.planete{
  display: flex;
  justify-content: center;
  padding-top: 20px !important;
  flex-wrap: nowrap !important;
  padding-left: 0px !important;
  width: 100% !important;
}
.img-planete{
  width: 59px !important;
}
.img-title{
  width: 245px !important;
}
.title{
  padding-top: 20px !important;
}
.logout{
  width: 0px !important;
  justify-content: center;
}

.navigation.mobile-menu{
  margin-left: 0;
}

.navigation{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(3px);
  justify-content: center;
  margin-left: -100%;
  width: 100%;
  height: 100vh;
}
.btn-navx{
  flex-direction: column;
  align-items: center;
}
.img-nav{
  margin: 25px 0;
  width: 170px !important;
}

.full-groupe{
  flex-direction: column;
}

.groupe-nav-info{
  flex-direction: column;
  align-items: center;
}
.player-stat{
  width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-stat{
  width: 100% !important;
}
.active-stat{
  flex-direction: column;
  width: 5% !important;
  margin-left: 0;
  padding: 10px 32px;
}
.point-stat{
  font-size: 9px !important;
}
.placement-stat{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-point{
  font-size: 13px !important;
}

.player-info{
  margin-left: 0px;
  width: 95% !important;
  margin-top: 19px;
}

.liste-info-player{
  width: 92%;
  padding: 15px;
}
.block-x{
  flex-direction: column;
  align-items: center;
}
.attack-m, .defence-m{
  width: 100%;
}

.all-cadre{
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}



.groupe2{
  width: 92% !important;
  padding-left: 17px !important;
  margin-top: 0;
}
.groupe2-x{
  display: none;
}
.wave{
  margin-top: 0px !important;
}
}
