* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url(/images/Magor-bkg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
/* ===== header  =====*/
header {
  width: 100%;
  display: flex;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.151);
  z-index: 1;
}

.planete {
  width: 20%;
  padding-left: 45px;
}
.img-planete {
  width: 100px;
}

.img-planete:active {
  width: 95px;
}

.title {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-title {
  width: 700px;
}

.logout {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-logout {
  width: 100px;
}
.img-logout:hover {
  width: 110px;
}
.img-logout:active {
  width: 100px;
}

/* ==== corps =====*/

.full-groupe {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(1, 245, 253);
  color: aqua;
  height: 100%;
  z-index: 2;
}

.groupe1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.img-nav {
  width: 170px;
}
.groupe-nav-info {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.player-stat {
  background-color: chartreuse;
  border-radius: 15px;
  width: 30%;
}
.wam-planete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.picture-planete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 20px;
}
.name {
  margin-top: 20px;
  color: brown;
  font-size: 40px;
  font-weight: bold;
}
.name2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.name3 {
  margin-top: 10px;
  color: brown;
  font-size: 40px;
  font-weight: bold;
}
.image-wam {
  width: 170px;
  border-radius: 80px;
}
.stat-wam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.numbers-stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.image-stat {
  width: 70px;
}
.active-stat {
  width: 40%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placement-stat {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 20px;
}
.point-stat {
  line-height: 0.8;
  color: white;
  font-weight: bold;
}
.total-point {
  color: rgb(255, 174, 0);
  font-weight: bold;
}

.player-info {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  border-radius: 15px;
  width: 70%;
  padding: 20px;
  margin-left: 20px;
}

.navigation-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.img-nav-player {
  width: 200px;
}
.liste-info-player {
  width: 100%;
  height: 100%;
  background-color: azure;
  border-radius: 15px;
  padding: 20px;
}

.groupe2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 18px;
}
.wave-txt {
  color: brown;
  font-size: 30px;
  font-weight: bold;
}
.wave-time {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.wave-monster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 18px;
}

.monster-txt {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.img-monster {
  width: 150px;
}

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 18px;
}

.feed-title{
  color: brown;
  font-size: 30px;
  font-weight: bold;
}

.feed-text{
  background-color: black;
  color: white;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px;
  margin-top: 18px;
}