/* style.css */
@font-face {
    font-family: 'ethnocentricregular';
    src: url('../font/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('../font/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  background-image: url("../images/fondlogin1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size:; Adapter l'image pour afficher l'intégralité */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  background-attachment: fixed;
  font-family: 'ethnocentricregular' ;
}


.countdown {
  
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.back-button {
  position: absolute;
  top: 25px; /* Ajustez la distance par rapport au haut de la page */
  left: 30px; /* Ajustez la distance par rapport à gauche de la page */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.return-btn:hover {
  width: 160px;
}

.return-btn:active {
  width: 150px;
}
.return-btn{
  width: 150px;
}

.card img.blurry {
  filter: blur(10px); /* Applique un flou à l'image */
  height: auto;
  margin-top: 10px;
  width: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border: 7px solid rgba(248, 0, 0, 0.671);
  border-radius: 5px;
  padding: 10px 30px 30px 30px;
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 50%; /* Définissez la largeur maximale que vous souhaitez */
  margin-left: auto; /* Pour centrer la carte horizontalement */
  margin-right: auto;
}
.title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #ff9c00;
  padding: 0px 7px 0 7px;
  border-radius: 20px;
}

h2 {
  background-color: #333;
  padding: 10px;
  border-radius: 20px;
  text-decoration: underline;
  font-size: 30px;
}
.name-monster {
  display: flex;
  color: azure;
  margin-top: 0;
  font-size: 23px;
}
.img-attribut {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.creature {
  display: flex;
  margin: 0 25px 25px 25px;
}

.attribut {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  line-height: 25px;
}

.color-text {
  color: #ff9c00;
  background-color: #333;
  padding: 7px 9px 7px 9px;
  border-radius: 20px;
  margin-right: 3px;
}

@media screen and (max-width: 740px) {
  .card {
    max-width: 80%;
    margin-top: 80px;
  }
  .img-attribut {
    flex-direction: column;
  }
  .attribut {
    margin-top: 25px;
  }
  .countdown{
    position: relative;
    top: 80px;
  }
}
